canvas {
    border: 1px solid black;
}

#game-container {
    display: flex;
}

#ui {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 200px;
    padding: 10px;
    float: left;
}
